<h2>Edit the celebrity</h2>
<form action="/celebrities/{{ data.id }}/edit" method="POST">
  <input type="text" name="name">
  <input type="text" name="occupation">
  <input type="text" name="catchPhrase">
  <button>Submit</button>
</form>