<h2>Edit this movie</h2>
<form action="/movies/{{ data.id }}/edit" method="POST">
  <input type="text" name="title" placeholder="{{data.title}}">
  <input type="text" name="genre" placeholder="{{data.genre}}">
  <input type="text" name="plot"  placeholder="{{data.plot}}">
  <button>Submit</button>
</form>

